# ESPN Authentication Cookies
# To find these values:
# 1. Log into ESPN Fantasy Football
# 2. Open Chrome DevTools (F12)
# 3. Go to Application > Cookies > espn.com
# 4. Find espn_s2 and SWID cookie values

# League 1
LEAGUE1_ID=YOUR_LEAGUE_ID_HERE
LEAGUE1_ESPN_S2=YOUR_ESPN_S2_COOKIE_HERE
LEAGUE1_SWID=YOUR_SWID_COOKIE_HERE

# League 2
LEAGUE2_ID=YOUR_SECOND_LEAGUE_ID_HERE
LEAGUE2_ESPN_S2=YOUR_ESPN_S2_COOKIE_HERE
LEAGUE2_SWID=YOUR_SWID_COOKIE_HERE

# Season Year
SEASON_YEAR=2024