# ESPN Authentication Cookies
# To find these values:
# 1. Log into ESPN Fantasy Football
# 2. Open Chrome DevTools (F12)
# 3. Go to Application > Cookies > espn.com
# 4. Find espn_s2 and SWID cookie values

# League 1
LEAGUE1_ID=973147
LEAGUE1_ESPN_S2=AECcfUAKoxMo50e2kzcKErVUd4WdyehEbUAluJsuq03RsnyMUBPKzeG5wxa9MNIlw0rNQAwLpbJqxZqc9jPE5fEf7%2FyK2JWe7zf6CD3rhUeuQY7fHnflP7EhLDiDcTpFtvbQ2cEnpWWYC4apH%2FFFA6FUHcs4rm6INbyzyCfAnD4K0rzueg76TO8ras2Eyn5aW1fVV%2BFG70MczGxpP24iGaK2TW%2BmLDnod66W9b0VcgkeDQptq7CZH2a0w2wQ3HLu9X5rlv2bbiR28Lrz8nLrs5MxHJnqw%2B0EFJtw8dZ3VcefxcU6vx6DcSEZcPcnZWEPCBBnWhFFP5H6Wv9Ny4lOylrhZKKRYtJkg6p%2BcsCMmFIzYwpakjXlIOehm8UtpyWY69wM1LGOceNdgEvElfOKNeJl4KBGumihhrjBErO2ZO3%2B%2FYCRjQ331jT7ZTUNWs%2FVJHXuPSeQLBfE1TcDZ2CBYOmnTutQhbC6Xd0RYWnXDN7lTwLq5Cc1A51mMtPYj8U3U27cm4iG%2FyzCoJqZqeVmQkfaQaEeLLFCzPJPenTty%2FAWTyCTfABQUuBprpF6t31ZNqJ4k9K57EywDxcLvg6AeAy0rBLj%2ByVIeuxZKumjUVJnB6F%2BhJSYJIcqLNbm43rNgut3B7i4i2OhSsnRCLAbutCf6UQO5Nmi4aKSiOz9ny2AWg%3D%3D
LEAGUE1_SWID={FF651580-28D6-41AC-A491-CBAF64B10326}

# League 2
LEAGUE2_ID=YOUR_SECOND_LEAGUE_ID_HERE
LEAGUE2_ESPN_S2=YOUR_ESPN_S2_COOKIE_HERE
LEAGUE2_SWID=YOUR_SWID_COOKIE_HERE

# Season Year
SEASON_YEAR=2024